@charset "UTF-8";
/* ページ内リンクの位置調整 */
section {
  margin-top: -60px;
  padding-top: 60px;
}

.jumbotron-extend {
  background-image: url(../img/reading-shelf.jpg);
  background-size: cover;
  background-position: center 70%;
  min-height: 300px;
}

.img-thumnail-extend {
  max-width: 45%;
}

.modal.fade .modal-extend {
  transform: translate(0, 0);
}

.card-extend {
  width: 18rem;
}

.title-extend {
  padding-left: 1rem;
  border-left: solid 12px #ff0040;
}

.icon-extend {
  width: 75px;
  height: auto;
}

/* login page*/
.card-container.card {
  max-width: 350px;
  padding: 40px 0;
}

.card {
  background-color: #f7f7f7;
  padding: 20px 25px 30px;
  margin: 50px auto 25px;
  border-radius: 2px;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.profile-img-card {
  width: 96px;
  height: auto;
  margin: 0 auto 10px;
  border-radius: 50%;
}

.profile-name-card {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  margin: 10px 0 0;
  min-height: 1em;
}

.form-signin input[type=email],
.form-signin input[type=password],
.form-signin input[type=text],
.form-signin button {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  z-index: 1;
  position: relative;
  box-sizeing: border-box;
}

.form-signin .form-control:focus {
  border-color: rbg(104, 145, 162);
  outline: 0;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgb(104, 145, 162);
}
